<div class="container new view">

  <%= form_for @book, html: { multipart: true } do |f| %>
      <div class="row mt30">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center ">
          <div class="col-xs-12">
            <div class="col-xs-5 text-right"><%= f.label "Obraz: " %></div>
            <div class="col-xs-7 text-left"><%= f.file_field :image , :style => "color:#fff" %></div>
          </div>
          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"><%= f.label "Tytuł: " %></div>
            <div class="col-xs-7 text-left"><%= f.text_field :title %></div>
          </div>
          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"><%= f.label "Rok wydania: " %></div>
            <div class="col-xs-7 text-left"><%= f.text_field :year %></div>
          </div>
          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"> <%= f.label "Wydawca: " %></div>
            <div class="col-xs-7 text-left"><%= f.text_field :publisher %></div>
          </div>
          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"><%= f.label "Gatunek: " %></div>
            <div class="col-xs-7 text-left"><%= f.text_field :genre %></div>
          </div>
          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"><%= f.label "Kraj: " %></div>
            <div class="col-xs-7 text-left"><%= f.text_field :country %></div>
          </div>
          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"><%= f.label "Opis: " %></div>
            <div class="col-xs-7 text-left"><%= f.text_area :description, size:"30x10",class:"nores bk"  %>    </div>
          </div>

          <div class="col-xs-12 mt15">
            <div class="col-xs-5 text-right"><%= f.label "autorzy" %></div>
            <div class="col-xs-7 text-left" > <%= f.select(:author_ids, @authors.map {|p| [p.name,p.id]},
                                                           { :prompt => 'Wybierz autorow'},
                                                           { :multiple => true, :size => 5, :class => 'sel-custom bk', :style => "color:#fff" })  %></div>
          </div>
          <div class="col-xs-12">
            <%= f.submit 'Edytuj',class:'col-xs-12 col-sm-8 col-sm-offset-2 btn-red' %>
          </div>
        </div>
      </div>
  <% end %>
  <%= link_to book_path(@book) do %>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center btn-red" style="margin-bottom:30px;">Powrót</div>
  <% end %>

</div>