<div class="mt30">
<%= form_for ([@book, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12">
    <div class="col-xs-1 text-right"><%= f.label 1 %></div>
    <div class="col-xs-10"><%= f.range_field :rating, :min=>1, :max=>10 %></div>
    <div class="col-xs-1 text-left"><%= f.label 10 %></div>
  </div>

    <%= f.text_area :comment,size:"50x10",class:"col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 nores mt30", style:"padding-top:10px;color:black" %>


  <div class="actions">
    <%= f.submit "Dodaj recenzję", class:"mt30 col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center btn-red" %>
  </div>
<% end %>
</div>